aniso8601==7.0.0
click==7.1.1
Flask==1.1.1
Flask-GraphQL==2.0.0
Flask-GraphQL-Auth==1.3.0
Flask-JWT-Extended==3.24.1
flask-mongoengine==0.9.5
Flask-PyMongo==2.3.0
Flask-WTF==0.14.2
graphene==2.1.8
graphene-file-upload==1.2.2
graphene-mongo==0.2.8
graphql-core==2.3.1
graphql-relay==2.0.0
graphql-server-core==1.2.0
gunicorn==20.0.4
iso8601==0.1.12
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
mongoengine==0.18.2
-e git+https://github.com/BPG9/backend.git@a881816c9a8dfc0de43117f70a4cc9d336f0a005#egg=museum_app
numpy==1.17.4
pandas==1.0.3
Pillow==7.0.0
pkg-resources==0.0.0
promise==2.3
PyJWT==1.7.1
pymongo==3.9.0
python-dateutil==2.8.1
pytz==2019.3
Rx==1.6.1
scipy==1.3.2
singledispatch==3.4.0.3
six==1.14.0
Werkzeug==0.16.0
WTForms==2.2.1
xlrd==1.2.0
